/* * {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0px;
    box-sizing: border-box;
    
} */

#bio-image {
    width: 200px; 
    height: 200px;
    margin-right: 20px;
    float: left;
    border: blueviolet 2px solid;
}

header {
    font-size: 44px;
}
.navbar-brand {
    font-size: 34px;
    color: violet !important;

}
#about-me {
    border-bottom: solid;
    /* width: %; */
    margin: 20px;
    padding: 40px; 
    font-family: 'Knewave';
    color: blueviolet;
}
body {
    font-family: 'Knewave';
    font-size: 24px;
    line-height: 150%;
    background-image: url("polka-dots.png");
    margin: 0 auto;
    padding: 40px;
    border: 10px;
}
#main-bio {
  /* float: left; */
}
#container {
    padding: 7%;
    margin: 0 auto;
    border: 10px;
    /* width: 1024px;  */
    background-color: #f2f2f2;   
}
.bg-light {
    background-color: rebeccapurple !important;
}
.nav-link, .btn {
    padding: 6px 8px;
    border-radius: 5px;
    border: 1px solid darkblue;
    margin: 10px;
    color: darkorchid !important;
    background-color: aquamarine;
    list-style: none;
    
}
li {
    display: inline-block;
    padding-right: 10px;
    padding-top: 22px;
    list-style: none;  
    font-size: 14px;

}

input[type=text], select, textarea {
    width: 90%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}

/* Add a background color and some padding around the form */
#contact-info {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    position: relative;

}
h3 {
    border-bottom: solid;
    }

#Portfolio {
    width: 1250px;
    margin: auto;
    color: blueviolet;
    /* border-bottom: solid; */
}
.pic-set {
    padding: 34px;
    left: 0;
    position: static;
    top: 0;
    margin: 34px;
}

.text1 {
  margin: 10px;
  width: 250px;
  height: 250px;
  float: left;
  background: url(https://pbs.twimg.com/profile_images/1460758471/futurama_mashup_zoidberg_v6_400x400.jpg);
  background-size: cover;
  position: relative;
}

h2 {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background: rgba(0, 0, 0, 0.75);
  padding: 4px 8px;
  color: white;
  margin: 0;
  font: 14px Sans-Serif;
  text-align: center;
}
.text2 {
    margin: 10px;
    width: 350px;
    height: 250px;
    float: left;
    background: url(https://media1.tenor.com/images/5205e59bbb3766baa007662cd07104e6/tenor.gif?itemid=3809970);
    background-size: cover;
    position: relative;
  }
  
  h2 {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: rgba(0, 0, 0, 0.75);
    padding: 4px 8px;
    color: white;
    margin: 0;
    font: 14px Sans-Serif;
  }
  
  
.text3 {
    margin: 10px;
  width: 350px;
  height: 250px;
  float: left;
  background: url(https://nerdcoretheology.files.wordpress.com/2012/03/zoidberg_jesus_large_large.jpg);
  background-size: cover;
  position: relative;
}

h2 {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background: rgba(0, 0, 0, 0.75);
  padding: 4px 8px;
  color: white;
  margin: 0;
  font: 14px Sans-Serif;
}


.text4 { margin: 10px;
    width: 250px;
    height: 250px;
    float: left;
    background: url(https://agroday.com.ua/wp-content/uploads/2017/12/QcohKrH.gif);
    background-size: cover;
    position: relative;
  }
  
  h2 {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: rgba(0, 0, 0, 0.75);
    padding: 4px 8px;
    color: white;
    margin: 0;
    font: 14px Sans-Serif;
  }
  
  
.text5 { margin: 10px;
    width: 250px;
    height: 250px;
    float: left;
    background: url(https://i.kym-cdn.com/entries/icons/facebook/000/006/786/zoidberg.jpg);
    background-size: cover;
    position: relative;
  }
  
  h2 {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: rgba(0, 0, 0, 0.75);
    padding: 4px 8px;
    color: white;
    margin: 0;
    font: 14px Sans-Serif;
  }
  
  
#info {
    font-size: 44px;

}
/* a:link { color: black; }
a:visited { color: blue; }
a:hover { color: pink; }
a:active { color: yellow; } */


#footer {
    position: relative;
    width: 100%;
    background-color: purple;
    color: rgba(0, 0, 0, 0.75);
    text-align: center;
    clear: both;
    margin: -30px;
}


/* 
.clearfix:after {
    content:"";
    display:table;
    clear:both;
} */

audio {
    opacity: .2;
    /* width: 14px; */
    /* overflow: inherit; */
}