

.bio-image {
    /* width: 200px; 
    height: 200px;
    margin-right: 20px;
    float: left; */
    border: blueviolet 2px solid;
    margin: 20px;
}
.navbar-brand  {
    font-size: 34px !important;
    color: violet !important;
    font-family: 'Knewave';
    letter-spacing: 0.0625em;

}
#top-navbar .navbar {
    background-color: blueviolet !important;
    font-family: 'Knewave'
}  
/* p {
    background-color: white;
} */
 body {  
    background-image: url("polka-dots.png");
 }
.container-fluid {
    /* background-image: url("polka-dots.png"); */
    font-family: 'Knewave';

}

.nav-link, .btn submit {
    padding: 6px 8px;
    border-radius: 5px;
    border: 1px solid darkblue;
    margin: 10px;
    color: darkorchid !important;
    background-color: aquamarine;
    list-style: none;
    
}

li {
    display: inline-block;
    padding-right: 10px;
    padding-top: 22px;
    list-style: none;  
    font-size: 14px;

}

input[type=text], select, textarea {
    width: 90%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
    
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: darksalmon;
}

/* Add a background color and some padding around the form */
#contact-info {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    position: relative;
    margin: 20px;
    font-family: 'Knewave';

}
h3 {
    border-bottom: solid;
    }

#Portfolio {
    width: 100%;
    /* margin: auto; */
    color: indianred;
    /* border-bottom: solid; */
    clear: both;
    font-family: 'Knewave';
}
.pic-set {
    /* padding: 34px; */
    left: 0;
    position: static;
    top: 0;
    margin: 34px;
}

.text1 {
  margin: 10px;
  width: 250px;
  height: 250px;
  /* float: left; */
  background: url(https://pbs.twimg.com/profile_images/1460758471/futurama_mashup_zoidberg_v6_400x400.jpg);
  background-size: cover;
  position: relative;
}

h2 {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background: rgba(0, 0, 0, 0.75);
  padding: 4px 8px;
  color: white !important;
  margin: 0;
  font: 14px Sans-Serif !important;
  text-align: center;
}
.text2 {
    margin: 10px;
    width: 350px;
    height: 250px;
    /* float: left; */
    background: url(https://media1.tenor.com/images/5205e59bbb3766baa007662cd07104e6/tenor.gif?itemid=3809970);
    background-size: cover;
    position: relative;
  }

.text3 {
  margin: 10px;
  width: 350px;
  height: 250px;
  /* float: left; */
  background: url(https://nerdcoretheology.files.wordpress.com/2012/03/zoidberg_jesus_large_large.jpg);
  background-size: cover;
  position: relative;
}

.text4 { margin: 10px;
    width: 250px;
    height: 250px;
    /* float: left; */
    background: url(https://agroday.com.ua/wp-content/uploads/2017/12/QcohKrH.gif);
    background-size: cover;
    position: relative;
  }
  
.text5 { margin: 10px;
    width: 250px;
    height: 250px;
    float: left;
    background: url(https://makeameme.org/media/templates/250/tricky_zoidberg.jpg);
    background-size: cover;
    position: relative;
  }
  
/* #info {
    font-size: 44px;
} */
#footer {
    position: relative;
    background-color: rgb(177, 74, 197);
    text-align: center;
    font-family: 'Knewave';
    color: rgb(114, 245, 190);
    /* clear: both; */
}

audio {
    opacity: .2;
    /* width: 14px; */
    /* overflow: none; */
}
.about-me {
    /* padding: 20px; */
    font-size: 20px;
    background-color: white;
    border: solid 2px cornflowerblue;
    margin-top: 10px;
}
.fa {
    font-size: 30px;
    width: 34px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
} 

.fa:hover {
    opacity: 0.7;
}


.fa-github {
    background-color: cyan;
    color: black;
    margin: 20px;
}
.follow {
    color: aqua;
    font-family: 'Knewave';
}
@media only screen and (max-width: 980px) {
    body {
        background-color: lightblue;
    }
} 
@media only screen and (max-width: 768px) {
    body {
        background-color: lightblue;
    }
}
@media only screen and (max-width: 640px) {
    body {
        background-color: lightblue;
    }
}