* {
    margin: 0;
}
.bio-image {
    /* width: 200px; 
    height: 200px; */
    margin-top: 10px;
    margin-bottom: 10px;
    float: left;
    border: lightgreen 2px solid;
    /* margin: 20px; */
}

.navbar-brand {
    font-size: 32px !important;
    color: rgb(12, 9, 12) !important;
    font-family: 'Bree Serif', serif;
    /* letter-spacing: 0.0620em; */
}

#top-navbar .navbar {
    background-color: steelblue !important;
    font-family: 'Bree Serif', serif;
    overflow-x: auto;
}

/* p {
    background-color: white;
} */
body {
    background-color: rgb(46, 45, 45) !important;
}
html, body {
    height: 100%;
}

.container-fluid,
button,
.portfolios {
    /* background-image: url("polka-dots.png"); */
    font-family: 'Bree Serif', serif;
}

.container-fluid,
.container {
    margin: 0% auto;
    height: 100%;
    min-height: 100%;
    height: auto !important;
    margin: 0 auto -142px;
}

.nav-link,
submit,
.port-btn {
    padding: 6px 8px;
    border-radius: 5px;
    border: 1px solid darkblue;
    color: darkorchid;
    background-color: aquamarine;
    list-style: none;
}

.nav-link {
    margin: 10px;
}

li {
    display: inline-block;
    padding-right: 10px;
    padding-top: 22px;
    list-style: none;
    font-size: 14px;
}

input[type=text],
select,
textarea {
    width: 90%;
    /* Full width */
    padding: 12px;
    /* Some padding */
    border: 1px solid #ccc;
    /* Gray border */
    border-radius: 4px;
    /* Rounded borders */
    box-sizing: border-box;
    /* Make sure that padding and width stays in place */
    margin-top: 6px;
    /* Add a top margin */
    margin-bottom: 16px;
    /* Bottom margin */
    resize: vertical;
    /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: rgb(94, 204, 212);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.contactme {
    /* border-radius: 5px; */
    background-color: #8d8787;
    padding: 20px;
    /* position: relative; */
    margin: 20px;
    font-family: 'Times New Roman', Times, serif !important;
    text-align: center;
}

h3 {
    border-bottom: solid;
}

#Portfolio {
    width: 100%;
    /* margin: auto; */
    color: rgb(102, 223, 213);
    /* border-bottom: solid; */
    clear: both;
    font-family: 'Knewave';
}

.pic-set {
    /* padding: 34px; */
    left: 0;
    position: static;
    top: 0;
    margin: 34px;
}

.text1 {
    margin: 10px;
    width: 250px;
    height: 250px;
    background: url(https://media.giphy.com/media/3o6fIV2QVypNBtn7DW/giphy.gif);
    background-size: cover;
    position: relative;
}

/* .text1:hover {
    background-image: url(https://mlpforums.com/uploads/post_images/img-2566385-1-trashy+zoidberg.jpg);
} */

h2 {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: rgba(0, 0, 0, 0.75);
    padding: 4px 8px;
    color: white !important;
    margin: 0;
    font: 14px Sans-Serif !important;
    text-align: center;
}

.text2 {
    margin: 10px;
    width: 250px;
    height: 250px;
    /* float: left; */
    background-image: url(logo_RGB_color_notext.png);
    background-color: #232F3E;
    background-size: cover;
    position: relative;
}

/* .text2:hover {
    margin: 10px;
    width: 300px;
    height: auto;
    background-image: url(https://media.giphy.com/media/l0Hlzm2YMSFzLLJZK/giphy.webp)
} */

/* .text3 {
    margin: 10px;
    width: 350px;
    height: 250px;
    background: url(https://nerdcoretheology.files.wordpress.com/2012/03/zoidberg_jesus_large_large.jpg);
        background-size: cover;
    position: relative;
} */

.text3:hover {
    background-image: url(https://media.giphy.com/media/xDpTVxDKV6eEU/giphy.gif);
}

.text4 {
    margin: 10px;
    width: 300px;
    height: 250px;
    /* float: left; */
    background: url(https://pbs.twimg.com/profile_images/644262622234284032/tpm8sb5J_400x400.jpg);
    background-size: cover;
    position: relative;
}

/* .text4:hover {
    padding: 0%;
    border: 0;
    margin: 10px;
    width: 300px;
    height: auto;
    background-image: url(https://pa1.narvii.com/6707/50bf65680aa52b48f3c6f3afe8ced414f165b1e2_128.gif);
} */

.text5 {
    margin: 10px;
    width: 250px;
    height: 250px;
    float: left;
    background: url(https://media.giphy.com/media/84SFZf1BKgzeny1WxQ/giphy.gif);
    background-size: cover;
    position: relative;
}

/* .text5:hover {
    background-image: url(https://media.tenor.com/images/5a0b3347f2ed4a0803e5a58d3efd3174/tenor.gif)
} */

.text6 {
    background-color: rebeccapurple;
    width: 250px;
    height: 250px;
    margin: 10px;
    font-family: 'Press Start 2P', cursive;
}

.text7 {
    background-color: mediumorchid;
    width: 250px;
    height: 250px;
    margin: 10px;
    background-image: url(bidet.png);
    background-size: cover;
    position: relative;
    overflow: inherit;
}

.text8 {
    margin: 10px;
    width: 250px;
    height: 250px;
    /* float: left; */
    background: url(https://nextshark-vxdsockgvw3ki.stackpathdns.com/wp-content/uploads/2018/01/tumblr_nr2569nqX01qze3hdo1_r2_500.gif);
    background-size: cover;
    position: relative;
}

a:hover {
    color: aqua !important;

}

.ftext {
    text-align: center;
    color: turquoise;
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Press Start 2P', cursive;
}

/* #info {
    font-size: 44px;
} */
.footer {
    background-color:indigo;
    text-align: center;
    font-family: 'Knewave';
    color: rgb(114, 245, 190);
    width: 100%;
    margin-bottom: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    z-index: -1;
}

.about-me {
    /* padding: 20px; */
    font-size: 20px;
    background-color: lightslategray;
    border: solid 2px cornflowerblue;
    margin-top: 10px;
    margin-bottom: 10px;
}

.fa {
    font-size: 30px;
    width: 34px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover {
    /* opacity: 0.7; */
    color: cyan !important;
}

.fa-github {
    /* background-color: aliceblue; */
    color: white;
    margin: 10px;
}

.fa-linkedin {
    /* background-image: url(./In-White-54px-TM.png) */
    color: white;
    margin: 10px;
}

.follow {
    margin: 10px;
    color: cornflowerblue;
    font-family: cursive;
}

.nav-link:hover {
    background-color: indigo !important;
    color: aqua !important;
}

button:hover {
    /* background-color: indigo; */
    /* background-color: rgb(136, 33, 139) !important; */
    color: aqua !important;
}

.portfolios {
    border-radius: 10% !important;
    overflow: hidden;
    display: block;
    position: relative;
}

.portfolios p {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    transform: translateY(100%);
    background-color: rgba(0, 0, 0, 0.75);
    margin: 0;
    transition: all .5s;
    font-family: 'Bree Serif', serif;
    z-index: 2;
}

.portfolios audio {
    display: none;
    opacity: .7;
}

.portfolios:hover p {
    transform: translateY(0);
}

.portfolios:hover audio {
    display: block;
    position: absolute;
    bottom: 0;
}

.btn-block {
    opacity: 0.9 !important;
}
